@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* * {
		outline: 1px red solid;
	} */

	:root {
		/* Reserve space for scrollbar to prevent layout jumping */
		scrollbar-gutter: stable;
	}

	/* inter-latin-wght-normal */
	@font-face {
		font-family: 'Inter Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 100 900;
		src: url('/static/fonts/InterVariable.woff2') format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* View Transitions */

	@view-transition {
		navigation: auto;
	}
	/* 
	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}

	@keyframes slide-from-right {
		from {
			transform: translateX(90px);
		}
	}

	@keyframes slide-to-left {
		to {
			transform: translateX(-90px);
		}
	} */

	/* define animations for the old and new content */
	::view-transition-old(slide-it) {
		animation:
			180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
			600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}
	::view-transition-new(slide-it) {
		animation:
			420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}

	kbd {
		@apply rounded-lg border border-neutral/20 bg-gray-100 px-2 font-sans;
	}

	.view-headline {
		view-transition-name: view-headline;
	}

	.view-input {
		view-transition-name: view-input;
	}

	/* Catch the element once added, make it opacity-0, then use animate-* to animate its opacity */
	#form-message.htmx-added {
		opacity: 0;
	}

	/* Loading indicator css */
	.htmx-indicator {
		opacity: 0;
	}
	.htmx-request .htmx-indicator {
		opacity: 1;
	}
	.htmx-request.htmx-indicator {
		opacity: 1;
	}

	/* Loading indicator with display none */
	.htmx-indicator-none {
		display: none;
	}
	.htmx-request .htmx-indicator-none {
		display: inline;
	}

	.htmx-request ~ #posts.grid {
		/* This works because Loader element is right above #posts */
		display: none;
	}
	.htmx-request.htmx-indicator-none {
		display: inline;
	}

	/* Settings Form avatar selection */

	.avatar > input[type='radio']:checked + div {
		border: 4px #97dc42 solid;
		transition-timing-function: ease-out;
		transition-duration: 0.15s;
	}

	/* For create post more options on landing screen */
	.mood.avatar > input[type='radio']:not(checked) + div {
		border: 0px rgba(255, 255, 255, 0) solid;
		filter: saturate(20%);
		display: flex;
		align-items: center;
		transition-timing-function: ease-out;
		transition-duration: 0.15s;
	}

	.mood.avatar > input[type='radio']:checked + div {
		border: 0px rgba(255, 255, 255, 0) solid;
		filter: saturate(100%);
		display: flex;
		align-items: center;
		transition-timing-function: ease-out;
		transition-duration: 0.15s;
	}

	/* X icon for individual tag  */
	.user-tag::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z'/%3E%3C/svg%3E");
		display: flex;
		margin-top: 0.15rem;
		margin-right: -0.4rem;
		justify-content: end;
		align-items: center;
	}

	/* Hyphenation/break word for long words in comments */
	.hyphenate {
		word-wrap: break-word;
		overflow-wrap: anywhere;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}

	/* Drawer Handle for Guest Mode */
	.drawer-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s ease-out;
	}

	.drawer-content:has(~ .drawer-handle:checked) {
		max-height: 400px;
	}

	.drawer-handle:checked ~ .drawer-button > :first-of-type {
		display: flex;
	}
	.drawer-handle:checked ~ .drawer-button > :last-of-type {
		display: none;
	}

	.drawer-handle:not(checked) ~ .drawer-button > :first-of-type {
		display: none;
	}
	.drawer-handle:not(checked) ~ .drawer-button > :last-of-type {
		display: flex;
	}

	/* Override .menu list item :active state */
	/* .menu > li:active, 
	.menu li > :not(ul, .menu-title, details, .btn):active {
		background-color: transparent !important;
		color: oklch(var(--bc) / 0.7) !important;
	} */

	/* For filter mood bar on main page */
	input:checked + label {
		@apply text-primary-content saturate-100;
	}

	/* For the filter tag bar on main page */
	label > input:checked + span {
		@apply border-primary/50 bg-primary/50;
	}

	/* Post form validation */
	#comment-form-message-input textarea:user-invalid {
		border: 10px solid red !important;
	}

	/* Individual chat messages */
	.message-style {
		display: grid;
		max-width: 100%;
		overflow-wrap: anywhere;
		hyphens: auto;

		div.flex {
			padding: 0.5rem 0 0.5rem 0;
		}
	}

	.message-style > div > div.avatar {
		padding: 0.75rem 1.5rem 0.75rem 0;
		/* background-color: red; */

		span {
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
			background-color: rgb(151, 220, 66, 0.3);
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: capitalize;
			font-weight: 700;
			font-size: 1.25rem;
		}
	}

	.message-style > div > div.comment {
		flex-grow: 1;
		display: grid;
		align-content: center;

		span.user {
			display: inline-block;
			font-weight: 700;
			/* color: #081101; */
			/* background-color: rgb(151, 220, 66, 0.3); */
			border-radius: 0.5rem;
			/* padding: 0.25rem 0.5rem 0.25rem 0.5rem; */
			margin-right: 0.5rem;
			width: 100%;
			/* max-width: 7rem; */
		}

		/* span.content {
			color: #081101;
			background-color: rgb(151, 220, 66, 0.15);
			border-radius: 0.5rem;
			padding: 0.25rem 0.5rem 0.25rem 1.25rem;
			margin-left: -0.5rem;
		} */
	}

	span.time {
		font-weight: 400;
		font-size: 0.75rem;
		opacity: 0.8;
		/* padding-left: 3rem; */
		float: right;
	}

	.message-style > div:has(+ div) {
		border-bottom: 2px solid rgba(38, 41, 49, 0.06);
	}

	.navbar-highlight::after {
		content: '';
		height: 0.25rem;
		width: 100%;
		background-color: #1b510f;
		opacity: 0.5;
		position: absolute;
		bottom: -0.05rem;
		left: 0;
		transform: translate(0%, 0); /* translate(50%, 0) */
		view-transition-name: navbar-line;
	}

	#search-sort {
		view-transition-name: search-sort-line;
	}

	.search-sort-highlight:has(+ input:checked) {
		font-weight: bold;

		&::after {
			content: '';
			height: 0.15rem;
			width: 100%;
			background-color: #1b510f;
			opacity: 0.5;
			position: absolute;
			bottom: -0.05rem;
			left: 0;
			transform: translate(0%, 0); /* translate(50%, 0) */
		}
	}

	/* Tiptap */

	.element > div.tiptap {
		@apply rounded-lg border border-neutral/30 p-4;
	}

	.tiptap.ProseMirror {
		min-height: 10rem;
	}

	.tiptap,
	.comment-content {
		h1 {
			@apply text-xl font-bold;
		}
		h2 {
			@apply text-base font-medium;
		}
		p.is-editor-empty:first-child::before {
			color: #adb5bd;
			content: attr(data-placeholder);
			float: left;
			height: 0;
			pointer-events: none;
		}
		a {
			@apply text-accent underline;
		}
		ul {
			@apply ms-4;
		}
		ul > li {
			@apply ms-4 list-disc;
		}
		ol > li {
			@apply ms-4 list-decimal;
		}
	}

	.placeholder-image-icon {
		min-height: 7rem;
		opacity: 90%;
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" class="material-symbols:imagesmode-outline" viewBox="0 0 24 24"><path fill="#fafafa" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zm1-2h12l-3.75-5l-3 4L9 13zm-1 2V5zm3.5-9q.625 0 1.063-.437T10 8.5t-.437-1.062T8.5 7t-1.062.438T7 8.5t.438 1.063T8.5 10"></path></svg>')
			no-repeat center center;
	}

	.search-bar-filled-w:has(label > input:not(:placeholder-shown)) {
		max-width: 24rem;
	}

	.search-bar-input-spacing {
		&::after {
			content: '';
			padding-left: 2.5rem;
		}
	}

	/* Comment/replies */

	.replies-container {
		padding-inline-start: 3rem;
	}

	.reply {
		position: relative;
		--size: 8rem;
		div {
			position: relative;
			z-index: 2;
		}

		&::before {
			position: absolute;
			z-index: 1;
			top: calc(var(--size) / -16); /* -0.5 */
			left: -2rem;
			content: '';
			height: calc(var(--size) / 2);
			width: 2rem;
			border-inline-start: 2px solid #dbdbd9;
			border-bottom: 2px solid #dbdbd9;
			border-bottom-left-radius: 6px;
		}

		&:not(:last-child)::after {
			z-index: 1;
			position: absolute;
			top: calc(var(--size) / 3);
			left: -2rem;
			content: '';
			height: 100%;
			width: 20px;
			border-inline-start: 2px solid #dbdbd9;
		}
	}
}

@layer utilities {
}
