package templates

import (
	"fmt"
	"gorant/posts"
	"gorant/users"
)

templ Base(title string, currentUser users.User) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta description="GoRant: Go starter kit"/>
			<meta name="htmx-config" content='{"includeIndicatorStyles": false}'/>
			<title>{ title }</title>
			<link href="/static/css/output/styles.css" rel="stylesheet"/>
			<script src="/static/js/ext/htmx.min.js"></script>
			<script src="/static/js/ext/htmx-preload.min.js"></script>
			<script src="/static/js/ext/htmx-response-targets.min.js"></script>
		</head>
		<body class="grid min-h-[100dvh] grid-rows-[auto_1fr_auto] overflow-x-hidden font-sans" hx-ext="preload">
			<header id="navbar" class="navbar border-b border-b-neutral/5 bg-primary/30 p-0" preload>
				<div class="navbar-start">
					<a href="/" class="group py-2 ps-6 text-3xl">
						<span class="inline-block rounded-xl bg-accent px-2 py-1 font-medium text-accent-content transition-all duration-200 group-hover:bg-orange-700">Rant</span><span class="inline-block rounded py-2 pe-4 ps-1 font-bold text-accent transition-all duration-500 ease-in-out group-hover:text-orange-500">Kit</span>
					</a>
				</div>
				<div class="navbar-center hidden lg:flex"></div>
				<div class="navbar-end lg:pe-6">
					if currentUser.UserID  == "" {
						<div>
							<a href="/login" class="btn btn-accent btn-sm me-2">Sign Up</a>
							<a href="/login" class="btn btn-outline btn-accent btn-sm me-2">Login</a>
						</div>
					}
					if currentUser.UserID != "" {
						<div class="flex items-center">
							<div class="dropdown dropdown-end dropdown-bottom">
								<div tabindex="0" role="button" class="m-1">
									<button class="flex items-center rounded text-xs font-medium">
										<div class="avatar">
											<div class="w-10 rounded-full border border-neutral/20 bg-base-100">
												<img src={ string(templ.URL(currentUser.AvatarPath)) } alt=""/>
											</div>
										</div>
									</button>
								</div>
								<ul tabindex="0" class="max-w-screen menu dropdown-content z-[2] rounded-box border border-neutral/30 bg-white/70 p-2 shadow-lg backdrop-blur-3xl">
									<li class="mb-2 rounded-t-md border-b border-b-neutral/30 pb-2">
										<a href="/settings" class="hover:bg-transparent">
											<div class="flex">
												<div class="avatar me-2">
													<div class="w-16 rounded-full border border-neutral/20 bg-base-100">
														<img src={ string(templ.URL(currentUser.AvatarPath)) } alt=""/>
													</div>
												</div>
												if currentUser.PreferredName == currentUser.UserID {
													<div class="font-bold">{ currentUser.UserID }</div>
												} else {
													<div class="grid content-center">
														<div class="text-2xl font-bold">{ currentUser.PreferredName }</div>
														<div class="text-base-content/60">{ currentUser.UserID }</div>
													</div>
												}
											</div>
										</a>
									</li>
									<li class="flex rounded-md hover:bg-primary/50 hover:text-primary-content"><a href="/settings" class="hover:bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="me-2" viewBox="0 0 24 24"><path fill="currentColor" d="M14.5 23q-.625 0-1.062-.437T13 21.5v-7q0-.625.438-1.062T14.5 13h7q.625 0 1.063.438T23 14.5v7q0 .625-.437 1.063T21.5 23zm-5.25-1l-.4-3.2q-.325-.125-.612-.3t-.563-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.338v-.675q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75L19.925 11H15.4q-.35-1.075-1.25-1.787t-2.1-.713q-1.45 0-2.475 1.025T8.55 12q0 1.2.675 2.1T11 15.35V22zM15 21h6v-.825q-.625-.575-1.4-.875T18 19t-1.6.3t-1.4.875zm3-3q.625 0 1.063-.437T19.5 16.5t-.437-1.062T18 15t-1.062.438T16.5 16.5t.438 1.063T18 18"></path></svg>Settings</a></li>
									<li class="flex rounded-md hover:bg-primary/50 hover:text-primary-content"><a href="/logout" class="hover:bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="me-2" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"></path></svg>Logout</a></li>
								</ul>
							</div>
						</div>
					}
				</div>
			</header>
			<div id="container" class="grid justify-items-center px-4 pt-10" preload>
				{ children... }
			</div>
			<div id="toast" class="hidden"></div>
			<footer id="footer" class="mt-16 text-center text-sm">
				<p>Copyright © 2024 Zixian Chen. All rights reserved.</p>
				<div>
					<a href="https://zixianchen.com/projects" class="underline">Portfolio</a> | <a href="https://zixianchen.com/contact/" class="underline">Feedback</a> | <button id="credit-modal" class="underline" onclick="credit_modal.showModal()">Credits</button>
				</div>
			</footer>
			<dialog id="credit_modal" class="modal">
				<div class="modal-box p-8">
					<h2 class="pb-6 text-4xl font-bold">Credits</h2>
					<h3 class="font-bold">SVGs</h3>
					<ul class="list-disc">
						<li class="ms-6">Watermelon illustrations by <a href="https://www.drawkit.com/illustrations/watermelon-illustrations" class="underline" target="_blank" title="Watermelon Illustrations">Drawkit</a></li>
						<li class="ms-6">empty wallet by Amethyst Studio from <a href="https://thenounproject.com/browse/icons/term/empty-wallet/" class="underline" target="_blank" title="empty wallet Icons">Noun Project</a> (CC BY 3.0)</li>
					</ul>
					<div class="modal-action w-full">
						<form method="dialog" class="w-full">
							<button class="btn btn-accent mt-4 w-full">Close</button>
						</form>
					</div>
				</div>
			</dialog>
		</body>
	</html>
}

templ About(currentUser users.User) {
	@Base("About", currentUser) {
		<h1>About</h1>
	}
}

templ StarterWelcome(currentUser users.User, posts []posts.JoinPost) {
	@Base("GoRant", currentUser) {
		<div class="grid w-full content-center justify-items-center">
			<h1 id="logo" class="mb-4 flex items-center text-5xl font-extrabold">
				@Watermelon()
			</h1>
			<form id="post-form" hx-post="/posts/new" hx-swap="innerHTML" hx-target="#post-form-message" class="grid w-full max-w-[1600px] content-start justify-items-center lg:pt-0">
				if currentUser.UserID != "" {
					// Logged in
					<label class="lg:max-w-11/12 input input-lg input-accent relative flex h-16 w-full items-center rounded-full border-neutral/20 bg-white/70 text-base-content focus:shadow-lg focus:outline-none active:border lg:w-[750px]">
						<svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" class="me-4 text-gray-400" viewBox="0 0 24 24"><path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"></path></svg>
						<input
							type="text"
							id="post-title"
							name="post-title"
							placeholder="Rant about something"
							class="grow w-full text-xl"
							minlength="10"
							maxlength="255"
							autocomplete="off"
							required
						/>
						<button
							id="input-cancel-button"
							type="button"
							class="hidden text-accent"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>
						</button>
						<button id="post-button" class="top-1.75 btn btn-accent absolute right-1.5 min-w-20 rounded-full text-xl">
							<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="material-symbols:add-2" viewBox="0 0 24 24"><path fill="currentColor" d="M11 21v-8H3v-2h8V3h2v8h8v2h-8v8z"></path></svg>
							<span class="hidden lg:flex pe-1">Create</span>
						</button>
					</label>
					@CreatePostDrawer()
				} else {
					// Not logged in
					<label class="lg:max-w-11/12 input input-lg input-accent relative flex h-16 w-full items-center rounded-full border-neutral/20 bg-white/70 text-base-content focus:shadow-lg focus:outline-none active:border lg:w-[750px]">
						<svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" class="me-4 text-gray-400" viewBox="0 0 24 24"><path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"></path></svg>
						<input type="text" id="post-title" name="post-title" placeholder="Rant about something" class="grow w-full text-xl" autocomplete="off" required/>
						<button
							id="input-cancel-button"
							type="button"
							class="hidden text-accent"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>
						</button>
					</label>
					<div class="mt-4 flex space-x-4">
						<a href="/login" class="btn btn-accent rounded-lg btn-md text-lg lg:text-xl">Sign Up</a>
						<a hx-post="/anonymous" hx-target="#post-form" hx-swap="outerHTML" class="btn btn-outline btn-accent rounded-lg btn-md text-lg lg:text-xl">Incognito</a>
					</div>
				}
				<div id="post-form-message" class="text-sm text-error">
					{ children... }
				</div>
			</form>
		</div>
		<div
			id="content"
			if len(posts) > 0 {
				class="w-full max-w-[1000px] space-y-8 pt-8 lg:pt-16"
			} else {
				class="hidden"
			}
		>
			<div class="flex items-center">
				<h2 class="grow text-3xl font-bold">Posts</h2>
			</div>
			<div id="posts" class="grid gap-4">
				for i := 0; i < len(posts); i++ {
					<a href={ templ.URL(fmt.Sprintf("/posts/%s", posts[i].PostID)) } class="flex overflow-hidden rounded-lg border border-neutral/5 bg-primary/10 p-2 transition-all duration-200 ease-out hover:border-secondary hover:ring-2 hover:ring-accent/50 hover:ring-offset-2">
						<div class="group grid place-items-center overflow-hidden lg:rounded-full lg:border lg:border-neutral/5 lg:bg-black/5 text-center text-3xl lg:text-5xl">
							<span class="inline-block transition-all delay-500 group-hover:animate-wiggle">
								if posts[i].Mood  == "elated" {
									😄
								} else if posts[i].Mood  == "happy" {
									🙂
								} else if posts[i].Mood  == "sad" {
									☹️
								} else if posts[i].Mood  == "upset" {
									😫
								} else if posts[i].Mood  == "angry" {
									😡
								} else {
									😐
								}
							</span>
						</div>
						<div class="grow pe-4 ps-6">
							<h3 class="truncate text-xl font-medium leading-loose">
								{ posts[i].PostTitle }
							</h3>
							<div class="text-sm text-base-content/60">by { posts[i].PreferredName }</div>
							<div class="flex items-center">
								<div class="grow text-sm text-base-content/60">{ posts[i].CreatedAtProcessed }</div>
								<div class="me-8 flex items-center">
									if posts[i].LikesCountString == "0" {
										<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="me-1 text-neutral/60" viewBox="0 0 24 24">
											<path fill="currentColor" d="M12 20.325q-.35 0-.712-.125t-.638-.4l-1.725-1.575q-2.65-2.425-4.788-4.812T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.325 0 2.5.562t2 1.538q.825-.975 2-1.537t2.5-.563q2.35 0 3.925 1.575T22 8.15q0 2.875-2.125 5.275T15.05 18.25l-1.7 1.55q-.275.275-.637.4t-.713.125M11.05 6.75q-.725-1.025-1.55-1.563t-2-.537q-1.5 0-2.5 1t-1 2.5q0 1.3.925 2.763t2.213 2.837t2.65 2.575T12 18.3q.85-.775 2.213-1.975t2.65-2.575t2.212-2.837T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2 .538T12.95 6.75q-.175.25-.425.375T12 7.25t-.525-.125t-.425-.375m.95 4.725"></path>
										</svg> { posts[i].LikesCountString }
									} else {
										<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="me-1 text-neutral/60" viewBox="0 0 24 24">
											<path fill="currentColor" d="M12 20.325q-.35 0-.712-.125t-.638-.4l-1.725-1.575q-2.65-2.425-4.788-4.812T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.325 0 2.5.562t2 1.538q.825-.975 2-1.537t2.5-.563q2.35 0 3.925 1.575T22 8.15q0 2.875-2.125 5.275T15.05 18.25l-1.7 1.55q-.275.275-.637.4t-.713.125"></path>
										</svg> { posts[i].LikesCountString }
									}
								</div>
								<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="me-1 text-neutral/60" viewBox="0 0 24 24"><path fill="currentColor" d="M2 22V4q0-.825.588-1.412T4 2h16q.825 0 1.413.588T22 4v12q0 .825-.587 1.413T20 18H6zm4-8h8v-2H6zm0-3h12V9H6zm0-3h12V6H6z"></path></svg>{ posts[i].CommentsCountString }
							</div>
						</div>
					</a>
				}
			</div>
		</div>
		<script src="/static/js/output/index.js"></script>
	}
}

templ AnonymousMode(input string) {
	<form id="post-form" hx-post="/posts/new" hx-swap="innerHTML" hx-target="#post-form-message" class="grid w-full max-w-[1600px] content-center justify-items-center lg:pt-0">
		<label class="lg:max-w-11/12 input input-lg input-accent relative flex h-16 w-full items-center rounded-full border-neutral/20 bg-white/70 text-base-content focus:shadow-lg focus:outline-none active:border lg:w-[750px]">
			<svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" class="hugeicons:anonymous me-4 text-gray-400" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M7 15a3 3 0 1 0 0 6a3 3 0 0 0 0-6m10 0a3 3 0 1 0 0 6a3 3 0 0 0 0-6m-3 2h-4m12-4c-2.457-1.227-6.027-2-10-2s-7.543.773-10 2"></path><path d="m19 11.5l-1.058-6.788c-.215-1.384-1.719-2.134-2.933-1.463l-.615.34a4.94 4.94 0 0 1-4.788 0l-.615-.34c-1.214-.67-2.718.08-2.933 1.463L5 11.5"></path></g></svg>
			<input
				type="text"
				id="post-title"
				name="post-title"
				placeholder=""
				class="grow w-full text-xl"
				minlength="10"
				maxlength="255"
				autocomplete="off"
				if input != "" {
					value={ input }
				}
				required
			/>
			<button
				id="input-cancel-button"
				type="button"
				class="hidden text-accent"
			>
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>
			</button>
			<button id="post-button" class="top-1.75 btn btn-accent absolute right-1.5 lg:min-w-32 rounded-full text-xl">
				<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="material-symbols:add-2" viewBox="0 0 24 24"><path fill="currentColor" d="M11 21v-8H3v-2h8V3h2v8h8v2h-8v8z"></path></svg>
				<span class="hidden lg:flex pe-1">Create</span>
			</button>
		</label>
		@CreatePostDrawer()
		<div id="post-form-message" class="text-sm text-error">
			{ children... }
		</div>
		<input type="hidden" name="anonymous-mode" value="true"/>
	</form>
	<div class="mt-8 flex text-neutral/70">
		<span>Posting as:&nbsp;&nbsp;<b>Anonymous</b></span>
		<span class="tooltip tooltip-left lg:tooltip-bottom ms-1 flex items-start before:max-w-48 lg:before:max-w-96" data-tip="You can't comment, like, upvote.">
			<svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 24 24"><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887t-.362-.888t-.888-.362t-.887.363t-.363.887t.363.888t.887.362m-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.312.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825M12 22q-2.075 0-3.9-.787t-3.175-2.138T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>
		</span>
	</div>
}

templ CreatePostDrawer() {
	<div class="max-w-11/12 justify-self-center lg:w-[650px]">
		<div class="drawer-content">
			<div class="space-y-4 rounded-b-xl border border-t-0 border-neutral/20 bg-white/70 p-4">
				<div class="">
					<div class="label">
						<span class="label-text font-medium text-neutral/70">
							Mood
						</span>
					</div>
					<div class="flex w-full justify-around justify-self-center rounded-xl border border-neutral/20 py-0.5">
						<label id="angry" class="mood avatar grid cursor-pointer justify-items-center">
							<input
								type="radio"
								name="mood"
								value="angry"
								class="radio-accent radio radio-sm hidden"
							/>
							<div class="flex h-full items-center justify-center rounded-full text-3xl">
								😡
							</div>
						</label>
						<label id="upset" class="mood avatar grid cursor-pointer justify-items-center">
							<input
								type="radio"
								name="mood"
								value="upset"
								class="radio-accent radio radio-sm hidden"
							/>
							<div class="flex h-full items-center justify-center rounded-full text-3xl">
								😫
							</div>
						</label>
						<label id="sad" class="mood avatar grid cursor-pointer justify-items-center">
							<input
								type="radio"
								name="mood"
								value="sad"
								class="radio-accent radio radio-sm hidden"
							/>
							<div class="flex h-full items-center justify-center rounded-full text-3xl">
								☹️
							</div>
						</label>
						<label id="neutral" class="mood avatar grid cursor-pointer justify-items-center">
							<input
								type="radio"
								name="mood"
								value="neutral"
								class="radio-accent radio radio-sm hidden"
								checked="checked"
							/>
							<div class="flex h-full items-center justify-center rounded-full text-3xl">
								😐
							</div>
						</label>
						<label id="happy" class="mood avatar grid cursor-pointer justify-items-center">
							<input
								type="radio"
								name="mood"
								value="happy"
								class="radio-accent radio radio-sm hidden"
							/>
							<div class="flex h-full items-center justify-center rounded-full text-3xl">
								🙂
							</div>
						</label>
						<label id="elated" class="mood avatar grid cursor-pointer justify-items-center">
							<input
								type="radio"
								name="mood"
								value="elated"
								class="radio-accent radio radio-sm hidden"
							/>
							<div class="flex h-full items-center justify-center rounded-full text-3xl">
								😄
							</div>
						</label>
					</div>
				</div>
				<div id="tags-container" class="w-full">
					<label class="form-control w-full">
						<div class="label">
							<span class="label-text font-medium text-neutral/70">
								Tags
							</span>
						</div>
						<div class="input input-bordered h-auto rounded-xl bg-white/70 py-2">
							<input id="tags-input" type="text" name="tags-input" placeholder="Key in your tags" class="block"/>
							<ul id="tags-list" class="flex flex-wrap items-center"></ul>
						</div>
						<input id="tags-data" type="hidden" name="tags-data" value=""/>
					</label>
				</div>
			</div>
		</div>
		<input type="checkbox" name="show-hide" id="show-hide" class="drawer-handle hidden"/>
		<label class="drawer-button flex cursor-pointer items-center justify-self-center rounded-b-lg border border-t-0 border-neutral/20 bg-white/70 px-4 py-1 text-sm text-neutral/70 hover:bg-primary/30" for="show-hide">
			Options
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="material-symbols:keyboard-arrow-up drawer-icon-up ms-2" viewBox="0 0 24 24"><path fill="currentColor" d="m12 10.8l-4.6 4.6L6 14l6-6l6 6l-1.4 1.4z"></path></svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="material-symbols:keyboard-arrow-down drawer-icon-up ms-2" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"></path></svg>
		</label>
	</div>
}

templ StarterWelcomeError(currentUser users.User, posts []posts.JoinPost) {
	@StarterWelcome(currentUser, posts) {
		No special characters allowed! ID may contain only A-Z, a-z, 0-9, dash, underscore.
	}
}

templ CreatePostError(message string) {
	<div class="flex items-center text-error"><svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="me-2 inline" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17q.425 0 .713-.288T13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17m-1-4h2V7h-2zm1 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>{ message }</div>
}

templ Error(currentUser users.User, message string) {
	@Base("GoRant", currentUser) {
		<main class="grid place-items-center content-center">
			<h1 class="text-5xl font-extrabold">GO. RANT.</h1>
			<img src="/static/images/reshot-illustration-404-page-HASGL2MQBU.svg" alt="Error" class="py-10"/>
			<p class="text-2xl">{ message }</p>
		</main>
	}
}
