package templates

import (
	"fmt"
	"gorant/posts"
	"gorant/users"
)

templ Post(currentUser users.User, message string, post posts.JoinPost, comments []posts.JoinComment, postID string, highlight string, sortComments string) {
	@Base("GoRant - Post", currentUser) {
		<main class="grid w-full content-start justify-items-center space-y-4 lg:max-w-[1600px] lg:grid-cols-3">
			<div class="hidden w-full space-y-8 justify-self-start lg:col-span-3">
				<div class="flex flex-wrap items-center">
					<div class="grow space-y-2">
						<h1 class="text-5xl font-extrabold capitalize">
							{ post.PostTitle }
						</h1>
						<div
							id="post-description"
							if post.UserID != currentUser.UserID  && post.Description == "" {
								class="hidden"
							} else {
								class="flex items-center"
							}
						>
							if post.UserID == currentUser.UserID {
								<button id="post-description-static" class="flex flex-wrap items-center">
									if post.Description == "" {
										Add a description here
									} else {
										{ post.Description }
									}
									<svg xmlns="http://www.w3.org/2000/svg" class="ms-4" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"></path></svg>
								</button>
								<form
									id="post-description-form"
									class="join mt-2 hidden w-full"
									hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/description/edit", postID))) }
									hx-target="#post-description"
									hx-swap="outerHTML"
									hx-target-error="#toast"
								>
									<label class="input join-item input-bordered flex w-full max-w-xl items-center rounded-lg">
										<svg xmlns="http://www.w3.org/2000/svg" class="me-4 inline text-neutral/30" width="1.4em" height="1.4em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"></path></svg>
										<input
											type="text"
											id="post-description-input"
											name="post-description-input"
											class="grow"
											if post.Description == "" {
												placeholder="Add a description here"
											}
											value={ post.Description }
										/>
										<button type="button" id="post-description-cancel" class="text-accent">
											<svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>
										</button>
									</label>
									<button id="post-description-button" class="btn btn-accent join-item rounded-lg px-6">Save</button>
								</form>
							} else {
								if post.Description == "" {
								} else {
									{ post.Description }
								}
							}
						</div>
					</div>
				</div>
			</div>
			<div class="relative w-full">
				<div class="sticky top-2 z-[1] grid justify-items-center backdrop-blur">
					<div class="grid w-full content-center rounded-lg border border-neutral/10 bg-white/70 shadow-lg lg:max-w-2xl">
						<button id="post-title-truncated" class="rounded-t-lg border-t-8 border-t-primary/70 p-4">
							<h1 class="line-clamp-2 max-h-[6.3rem] overflow-hidden text-center text-3xl font-extrabold capitalize">
								{ post.PostTitle }
							</h1>
						</button>
						<div class="flex items-center justify-center p-4">
							<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="mdi:tag me-2 text-neutral/70" viewBox="0 0 24 24"><path fill="currentColor" d="M5.5 7A1.5 1.5 0 0 1 4 5.5A1.5 1.5 0 0 1 5.5 4A1.5 1.5 0 0 1 7 5.5A1.5 1.5 0 0 1 5.5 7m15.91 4.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.11 0-2 .89-2 2v7c0 .55.22 1.05.59 1.41l8.99 9c.37.36.87.59 1.42.59s1.05-.23 1.41-.59l7-7c.37-.36.59-.86.59-1.41c0-.56-.23-1.06-.59-1.42"></path></svg>
							for i := 0; i < len(post.Tags); i++ {
								<span class="me-2 rounded-lg border border-neutral/70 px-2 text-sm text-neutral/70">{ post.Tags[i] }</span>
							}
						</div>
						<div class="flex items-center justify-around border-b border-t border-b-neutral/5 border-t-neutral/5 bg-primary/10 p-2">
							if currentUser.UserID  != "" {
								<div class="flex items-center">
									@PartialLikePost(postID, post.CurrentUserLikeString)
								</div>
								<div class="flex items-center">
									@MoodMapper(currentUser, post.PostID, post.UserID, post.Mood)
								</div>
							}
							<details id="more-actions-dropdown" class="dropdown dropdown-end inline-block">
								<summary class="flex cursor-pointer items-center justify-center text-accent">
									<!--btn btn-outline btn-accent border-0 btn-sm rounded-lg focus:bg-accent focus:text-accent-content -->
									<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="h-7 w-7" viewBox="0 0 24 24"><path fill="currentColor" d="m9.25 22l-.4-3.2q-.325-.125-.612-.3t-.563-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.338v-.675q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2zm2.8-6.5q1.45 0 2.475-1.025T15.55 12t-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12t1.013 2.475T12.05 15.5"></path></svg>
								</summary>
								<ul class="menu dropdown-content z-10 w-64 max-w-96 rounded-box border border-neutral/10 bg-white/70 p-2 shadow-lg backdrop-blur-[40px]">
									if post.UserID == currentUser.UserID {
										<li class="flex rounded-md hover:bg-accent hover:text-accent-content focus:text-accent-content active:text-accent-content">
											<button id="more-actions-edit-button" class="flex h-full w-full">
												<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
													<path fill="currentColor" d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"></path>
												</svg>Edit Description
											</button>
										</li>
									}
									<li class="flex rounded-md hover:bg-accent hover:text-accent-content focus:text-accent-content active:text-accent-content">
										<button id="more-actions-copy-button" class="flex h-full w-full" data-post-id={ "post-" + postID }>
											<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
												<path fill="currentColor" d="M9 18q-.825 0-1.412-.587T7 16V4q0-.825.588-1.412T9 2h9q.825 0 1.413.588T20 4v12q0 .825-.587 1.413T18 18zm0-2h9V4H9zm-4 6q-.825 0-1.412-.587T3 20V7q0-.425.288-.712T4 6t.713.288T5 7v13h10q.425 0 .713.288T16 21t-.288.713T15 22zm4-6V4z"></path>
											</svg>Copy Link to Post
										</button>
									</li>
									if post.UserID == currentUser.UserID {
										<form method="post" action={ templ.URL(fmt.Sprintf("/posts/%s/delete", post.PostID)) }>
											<li class="rounded-md text-error hover:bg-error hover:text-error-content focus:text-error-content active:text-error-content">
												<button class="flex">
													<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
														<path fill="currentColor" d="M9 17h2V8H9zm4 0h2V8h-2zm-8 4V6H4V4h5V3h6v1h5v2h-1v15z"></path>
													</svg>Delete This Post
												</button>
											</li>
										</form>
									}
								</ul>
							</details>
						</div>
						<div class="p-4">
							@PostForm(currentUser, postID, "false")
						</div>
					</div>
				</div>
			</div>
			<div class="w-full lg:col-span-2">
				@MoodBar(post.Mood, "false")
				<form
					class="mb-4 grid w-full space-x-2 px-1 lg:flex lg:px-8"
					hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s", postID))) }
					hx-target="#posts"
					hx-swap="outerHTML"
					hx-indicator="#filter-loading"
					hx-trigger="keyup[target.value.length > 1 || target.value.length == 0] changed delay:0.5s, click from:#filter-cancel-button"
				>
					<div class="join">
						<label class="input input-sm join-item flex w-full items-center gap-2 border-neutral/20 bg-white/70 text-accent text-neutral/70 lg:w-96">
							<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24"><path fill="currentColor" d="M11 18q-.425 0-.712-.288T10 17t.288-.712T11 16h2q.425 0 .713.288T14 17t-.288.713T13 18zm-4-5q-.425 0-.712-.288T6 12t.288-.712T7 11h10q.425 0 .713.288T18 12t-.288.713T17 13zM4 8q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"></path></svg>
							<input
								id="filter-input"
								type="text"
								name="f"
								class="grow text-base-content"
								placeholder="Type something to filter"
							/>
							<button
								id="filter-cancel-button"
								type="button"
								class="hidden text-neutral/70"
								hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s", postID))) }
								hx-target="#posts"
								hx-swap="outerHTML"
							>
								<svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24"><path fill="currentColor" d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"></path></svg>
							</button>
						</label>
						<button
							class="btn btn-accent join-item btn-sm"
							hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s", postID))) }
							hx-target="#posts"
							hx-swap="outerHTML"
							hx-indicator="#filter-loading"
						>Filter</button>
					</div>
					<span id="filter-loading" class="htmx-indicator loading-accent loading loading-spinner loading-sm"></span>
					<div class="flex grow justify-end">
						@SortButton(currentUser, postID, "false")
					</div>
				</form>
				<div class="w-full px-1 lg:px-8">
					@PartialPostNew(currentUser, comments, postID, highlight)
				</div>
			</div>
			<script src="/static/js/output/post.js"></script>
		</main>
	}
}

templ SortButton(currentUser users.User, postID string, oob string) {
	<details
		id="sort-dropdown"
		class="dropdown-start dropdown active:bg-transparent"
		hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s", postID))) }
		hx-target="#posts"
		hx-swap="outerHTML"
		hx-indicator="#filter-loading"
		hx-trigger="change"
		if oob == "true" {
			hx-swap-oob="true"
		}
	>
		<summary
			class="group btn btn-outline btn-sm flex items-center border-neutral/10 bg-white/70 text-neutral/70 hover:bg-primary/30 hover:text-primary-content focus:bg-primary/30 focus:text-primary-content active:bg-primary/30 active:text-primary-content"
		>
			<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" class="ci-sort-ascending me-1" viewBox="0 0 24 24">
				<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="M4 17h6m-6-5h9m5-1v8m0 0l3-3m-3 3l-3-3M4 7h12"></path>
			</svg>
			<span class="font-bold">
				if currentUser.SortComments == "upvote;desc" {
					Upvotes (highest first)
				} else if currentUser.SortComments == "upvote;asc" {
					Upvotes (lowest first)
				} else if currentUser.SortComments == "date;desc" {
					Date (latest first)
				} else if currentUser.SortComments == "date;asc" {
					Date (oldest first)
				}
			</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"></path></svg>
		</summary>
		<ul class="menu dropdown-content z-[1] w-64 max-w-96 rounded-box border border-neutral/30 bg-white/70 p-2 shadow-lg backdrop-blur-[40px]">
			<li
				if currentUser.SortComments == "upvote;desc" {
					class="flex rounded-md bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				} else {
					class="flex rounded-md hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				}
			>
				<label id="more-actions-edit-button" class="flex h-full w-full hover:bg-transparent" data-post-id={ "post-" + postID }>
					<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
						<path fill="currentColor" d="M18 21H8V8l7-7l1.25 1.25q.175.175.288.475t.112.575v.35L15.55 8H21q.8 0 1.4.6T23 10v2q0 .175-.037.375t-.113.375l-3 7.05q-.225.5-.75.85T18 21M6 8v13H2V8z"></path>
					</svg>Upvotes (highest first)
					<input type="radio" name="sort" class="hidden" value="upvote;desc"/>
				</label>
			</li>
			<li
				if currentUser.SortComments == "upvote;asc" {
					class="flex rounded-md bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				} else {
					class="flex rounded-md hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				}
			>
				<label id="more-actions-copy-button" class="flex h-full w-full hover:bg-transparent" data-post-id={ "post-" + postID }>
					<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
						<path fill="currentColor" d="M6 3h10v13l-7 7l-1.25-1.25q-.175-.175-.288-.475T7.35 20.7v-.35L8.45 16H3q-.8 0-1.4-.6T1 14v-2q0-.175.037-.375t.113-.375l3-7.05q.225-.5.75-.85T6 3m12 13V3h4v13z"></path>
					</svg>Upvotes (lowest first)
					<input type="radio" name="sort" class="hidden" value="upvote;asc"/>
				</label>
			</li>
			<li
				if currentUser.SortComments == "date;desc" {
					class="flex rounded-md bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				} else {
					class="flex rounded-md hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				}
			>
				<label id="more-actions-copy-button" class="flex h-full w-full hover:bg-transparent" data-post-id={ "post-" + postID }>
					<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
						<path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12h-8V4Q8.65 4 6.325 6.325T4 12t2.325 5.675T12 20"></path>
					</svg>Date (latest first)
					<input type="radio" name="sort" class="hidden" value="date;desc"/>
				</label>
			</li>
			<li
				if currentUser.SortComments == "date;asc" {
					class="flex rounded-md bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				} else {
					class="flex rounded-md hover:bg-primary/30 hover:text-primary-content focus:text-primary-content active:text-primary-content"
				}
			>
				<label id="more-actions-copy-button" class="flex h-full w-full hover:bg-transparent" data-post-id={ "post-" + postID }>
					<svg xmlns="http://www.w3.org/2000/svg" class="me-2 inline" width="1.3em" height="1.3em" viewBox="0 0 24 24">
						<path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22M6.325 6.325L12 12V4q-1.6 0-3.075.6t-2.6 1.725"></path>
					</svg>Date (oldest first)
					<input type="radio" name="sort" class="hidden" value="date;asc"/>
				</label>
			</li>
		</ul>
	</details>
}

templ PostForm(currentUser users.User, postID string, oobSwap string) {
	if currentUser.UserID  != "" {
		<form
			method="post"
			id="comment-form"
			hx-post={ "/posts/" + postID + "/new" }
			if oobSwap == "true" {
				hx-swap-oob="true"
			}
			hx-swap="outerHTML"
			hx-target="#posts"
			class="w-full space-y-2"
		>
			<h2 class="text-xl font-bold text-base-content/70">Add Comment</h2>
			<label class="form-control">
				<div class="label flex">
					<div class="label-text grow text-base-content/70">Message</div>
					<div class="text-xs italic text-base-content/70"><span id="form-message-chars-remaining"></span> characters left</div>
				</div>
				<textarea
					name="message"
					id="comment-form-message-input"
					placeholder="Enter a message of at least 10 chars"
					class="textarea textarea-bordered min-h-24 bg-white/70"
					minlength="1"
					maxlength="2000"
					rows="7"
					required
				></textarea>
			</label>
			<button id="comment-submit-button" class="btn btn-accent w-full rounded-lg text-lg">Add Comment</button>
		</form>
	} else {
		<div id="form-message-error">
			<div class="my-4 flex items-center justify-center text-accent">
				<a href="/login" class="flex items-center justify-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" class="me-2" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6z"></path></svg>
					Please login to like, upvote, or comment.
				</a>
			</div>
		</div>
		<a href="/login" class="btn btn-accent w-full rounded-lg text-lg">Login to Comment</a>
	}
}

templ MoodMapper(currentUser users.User, postID string, postUserID string, mood string) {
	if postUserID == currentUser.UserID {
		<div id="mood" class="dropdown-start dropdown dropdown-bottom">
			<div tabindex="0" role="button" class="flex items-center p-0 text-2xl">
				if mood == "elated" {
					😄
				} else if mood == "happy" {
					🙂
				} else if mood == "sad" {
					☹️
				} else if mood == "upset" {
					😫
				} else if mood == "angry" {
					😡
				} else {
					😐
				}
				<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"></path></svg>
			</div>
			<ul tabindex="0" class="menu dropdown-content z-[1] w-auto rounded-lg border border-neutral/10 bg-white/70 p-2 shadow-lg backdrop-blur-3xl">
				<li class="text-base font-normal">
					<button
						hx-target="#mood"
						hx-swap="outerHTML"
						hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/mood/edit/angry", postID))) }
						if mood == "angry" {
							class="bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content"
						} else {
							class="hover:bg-primary/30 hover:text-primary-content"
						}
					><span class="me-2 inline text-2xl">😡</span> Angry</button>
				</li>
				<li class="text-base font-normal">
					<button
						hx-target="#mood"
						hx-swap="outerHTML"
						hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/mood/edit/upset", postID))) }
						if mood == "upset" {
							class="bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content"
						} else {
							class="hover:bg-primary/30 hover:text-primary-content"
						}
					><span class="me-2 inline text-2xl">😫</span> Upset</button>
				</li>
				<li class="text-base font-normal">
					<button
						hx-target="#mood"
						hx-swap="outerHTML"
						hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/mood/edit/sad", postID))) }
						if mood == "sad" {
							class="bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content"
						} else {
							class="hover:bg-primary/30 hover:text-primary-content"
						}
					><span class="me-2 inline text-2xl">☹️</span> Sad</button>
				</li>
				<li class="text-base font-normal">
					<button
						hx-target="#mood"
						hx-swap="outerHTML"
						hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/mood/edit/neutral", postID))) }
						if mood == "neutral" {
							class="bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content"
						} else {
							class="hover:bg-primary/30 hover:text-primary-content"
						}
					><span class="me-2 inline text-2xl">😐</span> Neutral</button>
				</li>
				<li class="text-base font-normal">
					<button
						hx-target="#mood"
						hx-swap="outerHTML"
						hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/mood/edit/happy", postID))) }
						if mood == "happy" {
							class="bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content"
						} else {
							class="hover:bg-primary/30 hover:text-primary-content"
						}
					><span class="me-2 inline text-2xl">🙂</span> Happy</button>
				</li>
				<li class="text-base font-normal">
					<button
						hx-target="#mood"
						hx-swap="outerHTML"
						hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/mood/edit/elated", postID))) }
						if mood == "elated" {
							class="bg-primary/30 text-primary-content hover:bg-primary/30 hover:text-primary-content"
						} else {
							class="hover:bg-primary/30 hover:text-primary-content"
						}
					><span class="me-2 inline text-2xl">😄</span> Elated</button>
				</li>
			</ul>
		</div>
	} else {
		<div id="mood" class="flex items-center text-2xl">
			if mood == "elated" {
				😄
			} else if mood == "happy" {
				🙂
			} else if mood == "sad" {
				☹️
			} else if mood == "upset" {
				😫
			} else if mood == "angry" {
				😡
			} else {
				😐
			}
		</div>
	}
}

templ PartialMoodMapper(currentUser users.User, postID string, postUserID string, mood string) {
	@MoodMapper(currentUser, postID, postUserID, mood)
	@MoodBar(mood, "true")
}

templ MoodBar(mood string, oob string) {
	<ul
		id="mood-bar"
		class="relative mb-8 flex flex-wrap justify-around text-xl lg:text-6xl"
		if oob == "true" {
			hx-swap-oob="true"
		}
	>
		<div class="absolute -left-1/2 top-1/2 hidden -translate-y-1/2 rounded-full border-4 border-accent/30 lg:flex lg:w-[4000px]"></div>
		<li
			if mood == "angry" {
				class="z-[1] flex items-center justify-center text-3xl hover:animate-wiggle lg:text-8xl"
			} else {
				class="z-[1] flex items-center saturate-[0.2] hover:animate-wiggle"
			}
		>
			😡
		</li>
		<li
			if mood == "upset" {
				class="z-[1] flex items-center justify-center text-3xl hover:animate-wiggle lg:text-8xl"
			} else {
				class="z-[1] flex items-center saturate-[0.2] hover:animate-wiggle"
			}
		>
			😫
		</li>
		<li
			if mood == "sad" {
				class="z-[1] flex items-center justify-center text-3xl hover:animate-wiggle lg:text-8xl"
			} else {
				class="z-[1] flex items-center saturate-[0.2] hover:animate-wiggle"
			}
		>
			☹️
		</li>
		<li
			if mood == "neutral" {
				class="z-[1] flex items-center justify-center text-3xl hover:animate-wiggle lg:text-8xl"
			} else {
				class="z-[1] flex items-center saturate-[0.2] hover:animate-wiggle"
			}
		>
			😐
		</li>
		<li
			if mood == "happy" {
				class="z-[1] flex items-center justify-center text-3xl hover:animate-wiggle lg:text-8xl"
			} else {
				class="z-[1] flex items-center saturate-[0.2] hover:animate-wiggle"
			}
		>
			🙂
		</li>
		<li
			if mood== "elated" {
				class="z-[1] flex items-center justify-center text-3xl hover:animate-wiggle lg:text-8xl"
			} else {
				class="z-[1] flex items-center saturate-[0.2] hover:animate-wiggle"
			}
		>
			😄
		</li>
	</ul>
}

templ PartialLikePost(postID string, like string) {
	<button
		id="post-like-button"
		hx-post={ string(templ.URL(fmt.Sprintf("/posts/%s/like", postID))) }
		hx-swap="outerHTML"
		hx-target="#post-like-button"
		hx-ext="response-targets"
		hx-target-403="#toast"
	>
		if like == "1" {
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="h-7 w-7 text-error/60" viewBox="0 0 24 24">
				<path fill="currentColor" d="M12 20.325q-.35 0-.712-.125t-.638-.4l-1.725-1.575q-2.65-2.425-4.788-4.812T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.325 0 2.5.562t2 1.538q.825-.975 2-1.537t2.5-.563q2.35 0 3.925 1.575T22 8.15q0 2.875-2.125 5.275T15.05 18.25l-1.7 1.55q-.275.275-.637.4t-.713.125"></path>
			</svg>
		} else {
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="h-7 w-7 text-neutral/60" viewBox="0 0 24 24">
				<path fill="currentColor" d="M12 20.325q-.35 0-.712-.125t-.638-.4l-1.725-1.575q-2.65-2.425-4.788-4.812T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.325 0 2.5.562t2 1.538q.825-.975 2-1.537t2.5-.563q2.35 0 3.925 1.575T22 8.15q0 2.875-2.125 5.275T15.05 18.25l-1.7 1.55q-.275.275-.637.4t-.713.125M11.05 6.75q-.725-1.025-1.55-1.563t-2-.537q-1.5 0-2.5 1t-1 2.5q0 1.3.925 2.763t2.213 2.837t2.65 2.575T12 18.3q.85-.775 2.213-1.975t2.65-2.575t2.212-2.837T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2 .538T12.95 6.75q-.175.25-.425.375T12 7.25t-.525-.125t-.425-.375m.95 4.725"></path>
			</svg>
		}
	</button>
}
